@font-face {
  font-family: 'iwata';
  src: url('../public/iwata.otf');
}

html,
body {
  background:#23272a;
  color: #dcddde;
  padding: 0;
  margin: 0;
  font-family: iwata, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

h1,
h2 {
  color: white;
}

strong {
  color: white;
}

a {
  color: #ffa7c4;
  /* color: #5de4c7; */
  text-decoration: none;
}

a:hover {
  color: #5de4c7;
  text-decoration: underline;
  font-style: italic;
}

img {
  max-width: 100%;
  display: block;
}

.leftcolumn {
  float: left;
  width: 80%;
}

.rightcolumn {
  float: right;
  width: 20%;
}